@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/* Base Rule */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", serif;
}

body {
  font-size: 62.5%;
  /* 1rem = 10px */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}